<div class="panel panel-default">
  <div class="panel-heading">
    <div class="panel-title">
    	<h1>This pin</h1>
    </div>
   </div>
<p id="notice"><%= notice %></p>

<%= image_tag @auction.image.url(:medium) %>

<p>
  <strong>Title:</strong>
  <%= @auction.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @auction.description %>
</p>

<p>
  <strong>Price:</strong>
  <%= @auction.price %>
</p>

<% if @auction.user == current_user %>
<%= link_to 'Edit', edit_auction_path(@auction) %> |
<% end %>
<%= link_to 'Back', auctions_path %>
</div>
